body{
    margin: 0%;
    padding: 0%;
}

.page1{
    height: 100vh;
    width: 100%;
   
}

.navbar{
    height: 10%;
    width: 100%;
    background-color: skyblue;
    background-size: cover;
    position: fixed;
}

.list{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.list li{
    font-size: 20px;
    color: grey;
    font-style: oblique;
    font-weight: 600;
    margin: 1%;
    margin-top: 1%;
}

.monalisa{
    height: 90%;
    width: 100%;
    background-image: url(/Images/WhatsApp\ Image\ 2023-10-22\ at\ 17.55.17\(1\).jpeg);
    background-size: contain;
    background-size: auto;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}

.downbar{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(10, 10, 46);
}

.downbar .container1{
    height: 100%;
    width: 33.33%;
    background-color: aqua;
}

.downbar .container2{
    height: 100%;
    width: 33.33%;
    background-color: blue;
}

.downbar .container3{
    height: 100%;
    width: 33.33%;
    background-color: white;
}


.monalisa h1{
    font-size: 67px;
    color: rgb(211, 202, 202);
}

.monalisa p{
    font-size: 30px;
    color: white;
    text-align: center;
}

.monalisa button{
    height: 10%;
    width: 10%;
    background-color: coral;
    border-radius: 20px;
    border: none;
}

.page2{
    height: 120vh;
    width: 100%;
    
}

.page2 .header{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-items{
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1%;
   
}

.box1{
    height: 50%;
    width: 30%;
    margin: 1%;
}

.box2{
    height: 50%;
    width: 30%;
    margin: 1%;
}

.box3{
    height: 50%;
    width: 30%;
    margin: 1%;
}

.box4{
    height: 50%;
    width: 30%;
    margin: 1%;
}

.box5{
    height: 50%;
    width: 30%;
    margin: 1%;
}

.box6{
    height: 50%;
    width: 30%;
    margin: 1%;
}

.flex-items img{
    height: 80%;
    width: 100%;
}

.flex-items h1{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.flex-items p{
    font-size: 10px;
    flex-wrap: wrap;
}

.page3{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page3 .flex-items{
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

.page3 .box1{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.page3 .box2{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.page3 .box3{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.page3 .box4{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.page3 .con1{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.page3 .flex-items h1{
    font-size: 30px;
}
.page3 p{
    font-size: 20px;
    
}

.page3 .con1 p{
    border-bottom: 1px solid black;
    border-width: .1cm;
}
.page3 button{
    height: 8%;
    width: 50%;
    border-radius: 40px;
    border: none;
}
.page4{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page4 .flex-items{
    height: 85%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   
}

.page4 .box1{
    height: 45%;
    width: 20%;
    background-color: blueviolet;
    margin: 1%;
}
.page4 .box2{
    height: 45%;
    width: 20%;
    background-color: blueviolet;
    margin: 1%;
}
.page4 .box3{
    height: 45%;
    width: 20%;
    background-color: blueviolet;
    margin: 1%;
}
.page4 .box4{
    height: 45%;
    width: 20%;
    background-color: blueviolet;
    margin: 1%;
}
.page4 .box5{
    height: 45%;
    width: 20%;
    background-color: blueviolet;
    margin: 1%;
}

.page4 .box6{
    height: 45%;
    width: 20%;
    background-color: blueviolet;
    margin: 1%;
}

.page4 .box7{
    height: 45%;
    width: 20%;
    background-color: blueviolet;
    margin: 1%;
}

.page4 .box8{
    height: 45%;
    width: 20%;
    background-color: blueviolet;
    margin: 1%;
}

.page4 img{
    height: 100%;
    width: 100%;
}

.page5{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page5 .flex-items{
    height: 80%;
    width: 100%;
    flex-wrap: wrap;
}

.page5 .box1{
    height: 70%;
    width: 30%;
}

.page5 .box2{
    height: 70%;
    width: 30%;
}

.page5 .box3{
    height: 70%;
    width: 30%;
}


.page5 .flex-items img{
    height: 100%;
    width: 80%;
}